body {
    margin: 0;
    background-color: #98a96a;
    font-family: 'Inter', sans-serif;
}

.logo {
    width: 300px;
    margin-right: 320px;
}

.container-header {
    display: flex;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

.header {
    font-family: 'Inter', sans-serif;
    margin-right: 20px;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
    color: black;

}

.salad {
    position: absolute;
    width: 400px;
    margin-right: 300px;
    z-index: -1;
}

.bandw {
    position: absolute;
    width: 480px;
    margin-left: 50px;
    z-index: -2;
}

.back {
    position: relative;
    display: flex;
    justify-content: end;
    align-content: center;
}

.main-text {
    z-index: 1;
    font-size: 50px;
    display: flex;
    justify-content: start;
    margin-left: 100px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    width: 500px;
}

.image {
    margin-right: 15px;
    cursor: pointer;
}

.box {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    background-color: white;
    height: 120px;
    width: 80px;
    border-radius: 20px;
    cursor: default;
    margin-right: 20px;
    text-align: center;
}

.boxes {
    display: flex;
    margin-left: 100px;
    margin-bottom: 50px;
}

.frase {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    display: flex;
    justify-items: center;
    align-items: end;
    cursor: text;
}

.foods {
    font-size: 14px;
}

.round {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.sub-box {
    display: flex;
    justify-content: center;
    text-align: center;
}

.foot-index {
    display: flex;
    justify-content: start;
    margin-left: 100px;
}

.input-div {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 30px;
}
.label-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-weight: 800;
}
.input-field {
    border: 2px solid #000000;
    border-radius: 20px;
    color: #000000;
    background: #4c743c;
    width: 20em;
    margin: 0 10px 0 10px;
    padding: 0 0 0 15px;
    font-weight: 600;
}

.input-field::placeholder {
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.button-div {
    display: flex;
    justify-content: center;
}
.add-button {
    border-radius: 50px;
    border: 2px solid #000000;
    margin: 0 20px 0 0;
    font-size: 24px;
    background: #4d753c;
    width: 40px;
    height: 40px;
    font-weight: 800;
}
.remove-button {
    border-radius: 50px;
    border: 2px solid #000000;
    font-size: 24px;
    padding: 0 0 8px 0;
    background: #4d753c;
    width: 40px;
    height: 40px;
    font-weight: 800;
}

.foot-gen {
    display: flex;
    justify-content: start;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#container-ingredient {
    margin-bottom: 50px;
}

@media screen and (min-width: 320px) and (max-width: 600px){

    .container-nav {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .logo {
        margin: 0 0 30px 0;
        width: 200px;
    }

    .container-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .header {
        display: flex;
        justify-content: center;
        margin: 0 0 10px 0;
    }

    nav {
        display: grid;
        justify-content: center;
        align-content: center;
        margin: 50px 0 0 0;
    }

    .back {
        display: flex;
        justify-content: center;
        margin: 50px 0 0 0;
    }
    .salad {
        width: 250px;
        position: static;
        margin: 0;
    }

    .bandw {
        display: none;
    }

    .main-text {
        margin-left: 0;
        font-size: 30px;
        width: 300px;
        display: flex;
        justify-content: center;
    }

    .boxes  {
        margin-left: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .box {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .container-main-text {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .foot-index {
        margin: 0;
    }

    .container-footer {
        display: flex;
        justify-content: center;
        margin: 30px 0 50px 0;
    }

    .input-div {
        display: grid;
        margin-left: 0;
    }

    .label-div {
        margin-bottom: 15px;
    }

    .input-field {
        height: 35px;
        margin-bottom: 15px;
        width: 15em;
    }
}

@media screen and (min-width: 601px) and (max-width: 1040px){

    .container-logo {
        display: flex;
        justify-content: center;
    }

    .container-nav {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .logo {
        margin: 0 0 30px 0;
        width: 300px;
    }

    .container-header {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .header {
        display: flex;
        justify-content: center;
        margin: 0 0 10px 0;
    }

    nav {
        display: grid;
        justify-content: center;
        align-content: center;
        margin: 50px 0 0 0;
    }

    .back {
        display: flex;
        justify-content: center;
        margin: 50px 0 0 0;
    }
    .salad {
        width: 250px;
        position: static;
        margin: 0;
    }

    .bandw {
        display: none;
    }

    .main-text {
        margin-left: 0;
        font-size: 30px;
        width: 600px;
        display: flex;
        justify-content: center;
    }

    .boxes  {
        margin: 20px 20px 50px 20px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
    }

    .box {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .container-main-text {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .foot-index {
        margin: 0;
    }

    .container-footer {
        display: flex;
        justify-content: center;
        margin: 30px 0 50px 0;
    }
}

@media screen and (min-width: 1041px) and (max-width: 1400px){
    .salad {
        width: 320px;
        margin-right: 150px;
    }

    .bandw {
        width: 390px;
    }

    .container-nav{
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1400px) {

    .container-nav{
        margin-bottom: 40px;
    }

    .main-text{
        font-size: 60px;
        width: 650px;
    }

    .box {
        height: 170px;
        width: 115px;
    }

    .round {
        width: 70px;
        height: 70px;
    }

    .foods {
        font-size: 20px;
    }

    .frase {
        font-size: 20px;
    }

    .logo {
        margin-right: 650px;
    }

    .box {
        border-radius: 30px;
    }
}